<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<p>
  <% @columns.each_with_index do |c, i| %>
<div class="column" id="<%=  i %>">
  <% c.each do |l| %>
  <div class="<%= l.category.name.downcase %> cell" id="<%= l.name %>">
	  <div class="nameLabel"><%= l.name  %></div>
	  <div class="symbol"><%= l.name.slice(0) %></div>
  </div>
<% end %>
</div>
  <% end %>
</p>

<p>
  <b>Admin controls</b>
  <br />
<%= link_to 'Languages', :controller => "languages", :action => "index" %>
<%= link_to 'Categories', :controller => "categories", :action => "index" %>
</p>