<!DOCTYPE html>
<html>
<head>
  <title>CodingTable</title>
  <!--
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.2.1/mootools-yui-compressed.js"></script>
  -->
  <%= stylesheet_link_tag :all %>
  <%#= javascript_include_tag :all %>
  <%= javascript_include_tag 'cellscript.js' %>
  <%= javascript_include_tag 'mootools-1.2-core.js' %>
  <%= javascript_include_tag 'mootools-1.2-more.js' %>
  
  
<!-- Javascript with Embedded Ruby / Won't work in .js file-->
  <script language="javascript" type="text/javascript">	
 /*-------------------------------------------------------------------------------------------------
	Global Variables
   -------------------------------------------------------------------------------------------------*/
	var red = '#F77C88';
	var orange = '#FF9700';
	var yellow = '#FFE600';
	var green = '#CFFF5A';
	var blue = '#54B9DD';
	var purple = '#A05DDB';
	var magenta = '#ED5DE3';
  
  /*-------------------------------------------------------------------------------------------------
	Dropdown Menus
   -------------------------------------------------------------------------------------------------*/
	window.addEvent('domready', function(){
		$('drop_down_menu').getElements('li.menu').each( function( elem ){
			var list = elem.getElement('ul.links');	
			var myFx = new Fx.Slide(list).hide();			
			elem.addEvents({
				'mouseenter' : function(){ 					
					myFx.cancel();
					myFx.slideIn();					
				},
				'mouseleave' : function(){ 
					myFx.cancel();
					myFx.slideOut();					
				}
			});	
		})
	});	
	
	
 /*-------------------------------------------------------------------------------------------------
	colorYears(): Arranges colors by year
  -------------------------------------------------------------------------------------------------*/
	function colorYears(){
		var id = '';
		var year = '';
		<% @columns.each_with_index do |c, i| %>
	  		<% c.each do |l| %>
	  		id = "<%= l.name %>";
			year = "<%= l.year %>";
			if(year<1960)
				$(id).tween('background-color', red);
			else if(1960<=year && year<1970)
				$(id).tween('background-color', orange);
			else if(1970<=year && year<1980)
				$(id).tween('background-color', yellow);
			else if(1980<=year && year<1990)
				$(id).tween('background-color', green);
			else if(1990<=year && year<2000)
				$(id).tween('background-color', blue);
			else if(2000<=year && year<2010)
				$(id).tween('background-color', purple);
			else if(2010<=year && year<2020)
				$(id).tween('background-color', red);
			else if(2020<=year && year<2030)
				$(id).tween('background-color', orange);
			<% end %>
	 	<% end %>
	}
	
/*-------------------------------------------------------------------------------------------------
  colorYears(): Arranges colors by year
  -------------------------------------------------------------------------------------------------*/
	function highlightYear(arg){
		var id = '';
		var year = '';
		
		//first revert everything to black
		<% @columns.each_with_index do |c, i| %>
	  		<% c.each do |l| %>
	  		id = "<%= l.name %>";
			id = id+'nameLabel';
			$(id).tween('background-color', '#333333');		
			<% end %>
	 	<% end %>
	
		//then apply any necessary colors
		<% @columns.each_with_index do |c, i| %>
	  		<% c.each do |l| %>
	  		id = "<%= l.name %>";
			year = "<%= l.year %>";
			if(arg == year){
				id = id+'nameLabel';
				$(id).tween('background-color', '#FFE600');		
			}
			<% end %>
	 	<% end %>		
	}
	
	
  /*-------------------------------------------------------------------------------------------------
  resetColors(): changes cell colors to original config
  -------------------------------------------------------------------------------------------------*/
	function resetColors(){
		var id='';
		var col=0;
		<% @columns.each_with_index do |c, i| %>
	  		<% c.each do |l| %>
		  		id = "<%= l.name %>";
				col = <%=  i %>;
				
				if(col<=1)
					$(id).tween('background-color', red);
				else if(col<=3)
					$(id).tween('background-color', orange);		
				else if(col<=8)
					$(id).tween('background-color', yellow);		
				else if(col<=11)
					$(id).tween('background-color', green);		
				else if(col<=14)
					$(id).tween('background-color', blue);		
				else if(col<=15)
					$(id).tween('background-color', purple);		
				else if(col<=16)
					$(id).tween('background-color', magenta);				
			<% end %>
	 	<% end %>
	}

</script>


  <%= csrf_meta_tag %>
</head>
<body onload="resetColors()">

<%= yield %>

</body>
</html>
