<!DOCTYPE html>
<html>
<head>
  <title>CodingTable</title>
  <!--
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.2.1/mootools-yui-compressed.js"></script>
  -->
  <%= stylesheet_link_tag :all %>
  <%#= javascript_include_tag :all %>
  <%= javascript_include_tag 'cellscript.js' %>
  <%= javascript_include_tag 'mootools-1.2-core.js' %>
  <%= javascript_include_tag 'mootools-1.2-more.js' %>
  
  


  <%= csrf_meta_tag %>
</head>
<body onload="resetColors()">

<%= yield %>

</body>
</html>
